extends layout.pug
block content
    div(class="Container")
        div(class="Cart-Container")
            div(class="Header")
                div(class="Heading") 
                    h3 Shopping Cart
                div(class="Action")
                    h5 Remove All
            div(class="Cart-Items")  
                div(class="title") Apple Juice
                    div(class="desc") 100% Real Apple Juice
                div(class="counter")
                    div(class="btn")
                        h1 +
                    div(class="count")
                        h1 0
                    div(class="btn")
                        h1 -
                div(class="prices")
                    div(class="unitPrice") $3.00
                    div(class="save") Save for later 
                    div(class="remove") Remove 


